# CODEOWNERS — Core fans out to all 9 OS repos via git subtree, so every change
# here warrants the maintainer's review. A single catch-all owner is deliberate:
# this is a personal-but-public showcase system with one author.
* @gerrrt
